<h1>Home#index</h1>

<p>You have <%= Transaction.count %> transactions!</p>
<p>Incomings: <%= number_to_currency @incomings %></p>
<p>Spendings: <%= number_to_currency @spendings %></p>
<p>Total: <%= number_to_currency @total_money %></p>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= link_to transaction.title, transaction %>
    </li>
  <% end %>
</ul>

<%= link_to "New Transaction", new_transaction_path %>